<div class="square" ng-if="vm.isState('SCREEN1')">
  <div ng-repeat="filter in vm.filters track by $index">
    <div class="selectFilterMenu" ng-click="vm.selectFilter(filter)">
      <div class="filterLeftContent">
        <div class="filterName fontSize18">{{filter.filterName}}</div>
      </div>
      <span class="filterRightContent glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="lineBreak"></div>
  </div>
  <div class="btnAddFilter fontSize18" ng-click="vm.addNewFilter()">
    Add Filter
  </div>
</div>
<div class="square" ng-if="vm.isState('SCREEN2')">
  <div class="header">
    <span class="glyphicon glyphicon-arrow-left" ng-click="vm.moveBackward()"></span>
    <div class="filterName fontSize18">{{filterName || vm.selectedFilter.filterName}}</div>
    <div class="fa fa-share-alt fa-lg"></div>
  </div>
  <form name="filterCreationForm">
    <div class="firstPart">
      <div>Filter name</div>
      <input type="text" ng-model="filterName" name="filterName" id="filterName" placeholder="{{vm.selectedFilter.filterName}} "
        required>
      <span ng-show="vm.wrongInput">Inappropriate value</span>
    </div>
    <div class="lineBreak"></div>
    <div class="secondPart">
      <div>Meet ALL the following conditions:
        <div ng-repeat="condition in vm.selectedFilter.conditions.and track by $index">
          <div>{{condition.name}} is {{condition.value}}</div>
          <span class="glyphicon glyphicon-trash" ng-click="vm.deleteCondition(condition)"></span>
        </div>
        <button ng-click="vm.addCondition('AND')">Add condition</button>
      </div>
      <div>Meet at least one of the following conditions:
        <div ng-repeat="condition in vm.selectedFilter.conditions.or track by $index">
          <div>{{condition.name}} is {{condition.value}}</div>
          <span class="glyphicon glyphicon-trash" ng-click="vm.deleteCondition(condition)"></span>          
        </div>
        <button ng-click="vm.addCondition('OR')">Add condition</button>          
      </div>
    </div>
    <div class="footer">
      <button type="button" ng-click="vm.saveFilter(filterName)">Save Filter</button>
      <div>Clone this filter</div>
    </div>
  </form>
</div>
<div class="square" ng-if="vm.isState('SCREEN3')">
  <div class="header">
    <div class="text">Filter technicians by</div>
    <span class="glyphicon glyphicon-remove" ng-click="vm.moveBackward()"></span>
  </div>
  <div class="search">Search properties</div>
  <div ng-repeat="condition in vm.conditions">
    <div ng-click="vm.chooseCondition(condition)">{{condition.name}}</div>
  </div>
</div>
<div class="square" ng-if="vm.isState('SCREEN4')">
  <div class="header">
    <div class="text">Filter technicians by</div>
    <span class="glyphicon glyphicon-remove" ng-click="vm.moveBackward()"></span>
  </div>
  <div>{{vm.selectedCondition.name}}</div>

  <input type="text" ng-model="conditionValue" name="conditionName" id="conditionName" placeholder="Enter the {{vm.selectedCondition.name}}"
    required>
  <button ng-click="vm.addConditionToFilter(vm.selectedCondition, conditionValue)">Add Condition</button>
</div>
<div ng-click="vm.showMeBloodyFilters()">show me my filters
  </div